.navbar-logo {
    height: 2rem;
    width: auto;
}

.navbar {
    background-color: #2E4ED8;
    margin-bottom: 2rem;
}

nav li a{
    color: white !important;
}

tr {
    vertical-align: middle;
}

.login-box {
    border-style: solid;
    border-color: #2E4ED8;
    border-radius: 1.5rem;
}

.login-logo {
    height: 3rem;
    width: auto;
}

h1 {
    margin-bottom: 2rem;
}

